body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    width: 1440px;
    height: 94px;
    display: flex;
    background: #562EFF;
   
   
}
.header-logo{
    width: 40px;
    height: 50px;
}
.logo-title{
    color: wheat;
    padding-left: 15px;
    margin-top: 5px;
    font-weight: 400  ;
}
.header-Container{
    display: flex;
    margin-left: 285px;
    margin-right: 400px;
   
    padding-top: 26px;
}
.header-button a{
    font-size: 17px;
    text-decoration: none;
    padding-right: 36px;
    color: wheat;
    font-weight: 400;
    
    
  
}
.header-button{
    margin-top: 33px;
    
}
.profile{
    font-size: 40px;
    margin-top: 25px;
    color: rgb(250, 243, 231);
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}
/*-------------- Players Style ------------- */
.Container{
    width: 870px;
    background-color: #ffff;
    padding-right: 16px;
    margin-bottom: 21px;
    border-radius: 10px;
    
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
    padding: 30px;
    
    
}
.player img{
   width: 56px;
   height: 56px;
}
.player{
    display: flex;
}
.Players-Name{
    padding-left: 16px;
    font-size: 18px;
}
.Player-title{
    margin-bottom: 40px;
    padding-left: 33px;
    color: #562EFF;
    font-size: 24px;
}
.hr-tag{
    border: 1px solid #D1D1D1;
    width: 807px;

}
/*------------ Blog styles------- */

.blog img{
    width: 177px;
    height: 117px;
    
}
.blog {
    display: flex;
    padding-left: 30px;
    margin-bottom: 26px;
}
.blog-details{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
   margin-top: 0;
    
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
    
}
.blog-author{
    color: #9F9F9F;
    
    
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 26px;
    
}
/* Blogs Style End --------------------- */

/* Course Start---------------------------  */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 77px;
    
}
.Top-Course{
    padding-left: 39px;
}

.course img{
    width: 224px;
    height: 104px;
}
.cours-title{
    font-size: 21px;
}
.course-author{
    font-size: 15px;
    color: #ED6B4F;
    margin-top: -15px;
}
.fa-star.filled{
    color: #FFC014;

}
.fa-star.no-filled{
    color: #aeaeaea6;
}
.rating-point{
    color: #a2a2a2;
    font-size: 14px;
    padding-left: 10px;
}
.time{
    padding: 3px 10px;
    border: 1px solid #FFE4E8;
    border-radius: 25px;
    background-color: #ffdfd7;
    font-size: 14px;
    color: #FF4A60;
    margin-left: 15px;
   
}
/* course end ------------- */


/* Medea Quare Start ------------ */
@media only screen and (max-width:688px)  {
    .Container{
        width: 100%;
        
    }
    .players{
         grid-template-columns: repeat(2, 1fr);
         
    }
    .player{
        flex-direction: column;
        align-items: center;
    }
    
    .header-logo{
        margin-left: -270px;
    }
   
    .header-button {
        margin-left: -510px;
    }
    .header-button a{
        font-size: 15px;
        padding-right: 10px;

    }
    .profile{
        font-size: 30px;
        margin-top: 30px;}

    .blogs{
         grid-template-columns: repeat(1, 1fr);
         
    }
    .blog{
        
        align-items: center;
    }
    .courses{
         grid-template-columns: repeat(1, 1fr);
         
    }
    .course{
        
        align-items: center;
        margin-top: 20px;
    }
    
    
        


}

/* Medea Quare End ------------------ */